<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/partials/page-success.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-success">
    

    <div id="container">
        <!--<img class="back-ground" src="/public/images/success-background.svg" alt="background">-->
        <div id="container-sucess">
            <div class="sucess-container">
                <img src="/public/images/icons/success-check-icon.svg" alt="check-icon">
                <h1>Cadastro salvo!</h1>
                <p>Tudo certo, seu cadastro está na nossa lista de professores.<br>
                    Agora é só ficar de olho no seu WhatsApp.
                </p>        
            </div>
            <div class="button-container">
                <a class="study" href="/src/views/study.html">
                    Acessar lista
                </a>
            </div>    
        </div>

   </div>
</body>
</html>