#page-success {
    background-color: var(--color-primary);
    background-image: url(/public/images/success-background.svg);
}

#container-sucess {
    color: var(--color-text-in-primary);
    text-align: center;
}

.sucess-container img {
    width: 12rem;
}

.sucess-container h1 {
    color: var(--color-title-in-primary);

    font-size: 5rem;
    line-height: 4.6rem;
    margin-top: 1.4rem;
}

.sucess-container p {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.button-container { 
    display: flex;
    justify-content: center;

    margin: 8rem 0;
}

.button-container a.study {
    width: 21rem;
    height: 6.5rem;
    font: 600 2.2rem Archivo;

    border-radius: 0.8rem;

    background: var(--color-secondary);
    color: var(--color-button-text);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s;
}

.button-container a.study:hover {
    background: var(--color-secondary-dark)
}

@media (max-width: 1100px){
    :root {
        font-size: 40%;
    }
}

@media (min-width: 1100px) {
    #container-success .sucess-container img {
        height: 200px;
    }
}